*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 14px 10px;
}

nav {
      display: flex;
      align-items: center;
      column-gap: 10px;
      
}

nav ul {
display: flex;
align-items:center ;
column-gap: 40px;
border-right: 1px solid gray;
padding-right: 20px;
}
nav ul li{
    list-style: none;
}

nav .right-cont{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
nav .right-cont .right-cont-text p {
     font-size: 14px;
     line-height: 18px;
}
main{
    height: 91vh;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
}
main .container{
   height: 80%;
   width: 100%; 
   display: flex; 
}
main .container .left-text{
  width: 50%;
  height: 100% ; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .container .left-text .content {
 width: 80%; }
 
 .btn{
    width: 30%;
    margin-block: 15%;
    padding: 18px 24px;
  border-radius: 10px;
  border: none;
  background-color: #ff6433;
  margin-bottom: 20px
 }
 .btn h4{
    color: white;
  font-size: 12px;
 }
 .text-bottom {
    display: flex;
  flex-direction: row;
  column-gap: 15px;
  padding: auto;
  padding-left: 20px;
  padding-right: 15px;
  padding-top: 15px;
  padding-top: 15px;
 }

.text-bottom h5 {
color: lightgrey;

}
main .container .right-img{
    width: 50%;
    height: 100%;
    background-image: url('Img/Image.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
main .container .right-img .service {
    position: absolute;
    left: -20%;
    top: 0;
}
main .container .right-img .rating{
    position: absolute;
    right: -20%;
    bottom: 0;
}
