*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 14px 10px;
}
.logo{
    font-family: 'manrope',sans-serif;
    font-weight: 800;
    font-size: 13px;
}
nav {
    display: flex;
    align-items: center;
    column-gap: 10px;  
}
 ul {
    display: flex;
    align-items:center ;
    column-gap: 40px;
    border-right: 1px solid gray;
    padding-right: 20px;
}
 ul li{
    list-style: none;
    font-family: 'manrope',sans-serif;
    font-weight: 800;
    font-size: 13px;
}
nav .right-cont{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
nav .right-cont .right-cont-text .text-1 {
    font-size: 13px;
    line-height: 18px;
    font-family: 'manrope',sans-serif;
    font-weight: 500;
}
nav .right-cont .right-cont-text .text-2 {
    font-size: 16px;
    line-height: 18px;
    font-family: 'manrope',sans-serif;
    font-weight: 800;
}
 .menu {
    display: none;
 }
main{
    height: 91vh;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
}
main .container{
   height: 80%;
   width: 100%; 
   display: flex; 
}
main .container .left-text{
  width: 50%;
  height: 100% ; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
}
main .container .left-text .content {
 width: 80%; 
 font-family: 'manrope',sans-serif;
 font-weight: 800;

}
 
 .btn{
    width: 30%;
    display: flex;
    padding: 18px 24px;
    border-radius: 10px;
    border: none;
   background-color: #ff6433;
   margin-bottom: 20px; 
 }
 .btn h4{
    color: white;
    font-size: 12px;
    font-family: 'manrope',sans-serif;
    font-weight: 600;
    text-align: center;
    width: 100%;
    }
 .text-bottom {
    display: flex;
  flex-direction: row;
  column-gap: 15px;
  padding: auto;
  padding-left: 20px;
  padding-right: 15px;
  padding-top: 15px;
  padding-top: 15px;
 }

.text-bottom h5 {
color: lightgrey;

}
main .container .right-img{
    width: 50%;
    height: 100%;
    background-image: url('Img/Image.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
main .container .right-img .service {
    width: 35%;
    position: absolute;
    left: -8%;
    top: 10%;
}
main .container .right-img .rating{
    width: 42%;
    position: absolute;
    right: -4%;
    bottom: 10%;
}

.sct-1 {
    min-height: 90vh;
    width: 100%;
    background-color: #E2E6E9;
    display: flex;
}
.sct1-container{
    min-height: 65vh;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sct1-left{
    min-height: 65vh;
    width :50%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.sct1-text{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.sct1-text-box{
    display: flex;
    flex-direction: row;
    column-gap: 12px;
}
.icon-box{
    min-width: 35px;
    min-height:35px ;
    max-width: 35px;
    max-height: 35px;
}
.sct1-left h1 {
    font-size: 48px;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
}
.text-box h3 {
 margin-bottom: 8px;
 font-family: 'Manrope', sans-serif;
 font-weight: 600; 
 font-size: 24px;
}
.text-box p {
    width: 75%;
    line-height: 28px;
    font-size: 16px;
    font-family: 'Manrope', sans-serif;
    font-weight: 600; 
    color: #1E1B1B;

}
.sct1-text-b{
    display: flex;
    justify-content: center;
    width: fit-content;
    margin-left: 46px;
    height: 18px;
    align-items: center;
    column-gap: 9px;
}
.sct1-text-b p{
    font-size: 18px;
    font-family: 'Manrope', sans-serif;
    font-weight: 600; 
}
.sct1-text-b a{
    color: black;
}
.sct1-right {
display: flex;
flex-direction: column;
row-gap: 29px;
min-height: 65vh;
width :47%;
}
.sct1-right h3{
    font-size: 35px;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
}
.sct1-right form {
display: flex;
flex-direction: column;
row-gap: 5px;
}
.sct1-right input {
height: 50px;
border: none;
padding: 0px 20px;  
}
.b-btn {
    display: flex;
}
.b-btn a {
    padding: 16px 25px;
    background-color: #FF6433;
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    text-decoration: none; 
    color: white;
    border: none;
    border-radius: 9px;
    
}
.sct-2 {
    min-height: 90vh;
    width: 100%;
    background-color: white;
    display: flex;
}
.sct2-container{
    min-height: 70vh;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}
.sct2-left{
    display: flex;
    flex-direction: column;
    width: 47%;
    justify-content: center;
    row-gap: 25px;
}
.sct2-left h1{
    font-weight: 800;
    font-size: 45px;
    font-family: 'manrope', sans-serif;
}
.sct2-left p{
    font-weight: 600;
    font-size: 18px;
    font-family: 'manrope', sans-serif;
    color: #1E1B1B;
}

.sct2-btn{
    display: flex;
}
.sct2-btn a {
    padding: 16px 23px;
    background-color: #FF6433;
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    text-decoration: none; 
    color: white;
    border: none;
    border-radius: 9px;
}
.sct2-right{
    display: flex;
    flex-direction: column;
    width: 32%;
    justify-content: center;
    row-gap: 25px;
}
.sct2-r-text{
    display: flex;
    flex-direction: row;
    column-gap: 12px;
}
.text-box1{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
 
 .circle-box {
   height: 50px;  
 }
 .circle-box p {
    font-weight: 600;
    font-size: 20px;
    font-family: 'manrope', sans-serif;
    color: white ;
    height: 50px;
    width: 50px;
    background-color: #661CE7;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .small-cirle{
    height: 25px;
    background-color: white;
    width: 25px; 
    border-radius: 23px;
    position: relative;
    top: -13px;
    left: 12px;
    opacity: 24%;
 }
 .text-box1 .dash{
    border: 1px  solid #FF6433 ;
    height:50px;
    width: 0px;
    border-style: dashed;
 }
 .text-box2{
    margin-top: 15px;
 }
 .text-box2 h3{
    font-family: 'manrope', sans-serif;
    color: black;
    margin-bottom: 5px;
    font-weight: 700;
 }
 .text-box2 p {
    font-family: 'manrope', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
 }
 .sct-3 {
    min-height: 90vh;
    width: 100%;
    background-color: #F2F2F2;
    display: flex;
}
.sct-3-container{
    min-height: 70vh;
    width: 79%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.sct-3-text{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;
}
.sct-3-text h4{
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    font-family: 'manrope', sans-serif;
}
.sct-3-text h2{
    font-size: 33px;
    font-weight: 600;
    text-align: center;
    font-family: 'manrope', sans-serif;
}
.sct-3-box-shell{
    display: flex;
    column-gap: 5px;
    flex-wrap: wrap;
    row-gap: 5px;
}
.sct-3-box-shell .box {
    min-height: 150px;
    width: 24.6%; 
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #1E1B1B;
}
.box img {
    min-width: 35px;
    min-height: 35px;
    max-height: 35px;
    max-width: 35px;
}
.box p {
    font-family:'manrope', sans-serif; 
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
}
.sct-3-box-shell .box:hover{
    color: white;
    background-color:#FF6433 ;

}
.sct-3-container .bottom-text {
    display: flex;
    justify-content: end;
    padding: 5px 0px; 
    align-items: center;
    column-gap: 9px;
    margin-top: 20px;
}
.sct-3-container .bottom-text p{
    color: black;
    font-family:'manrope', sans-serif; 
    font-weight: 600;
    font-size: 16px;
}
.sct-3-container .bottom-text a{
    color: black;
    height: 16px;
}
.sct-4-container{
    height: auto;
    width: 100%;
    background-color: #E2E6E9;
}
.sct-4-container .sct-4-top {
    display: flex;

}
 .sct-4-top .sct-4-top-left {
    min-height: 350px;
    width: 50%;
    background-image:url(Img/car.png); 
    background-position: center;
    background-repeat: no-repeat ;
    background-size: cover;
    display: flex;
    justify-content: flex-end;

}

.sct-4-top-left .left-text-box {
    width: 67.5%;
    height: 100%;
    background-color: #FF6433;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;  
    row-gap: 30px;
}
.left-text-box{
    font-weight: 600;
    color: white;
    font-family:'manrope', sans-serif; 
    font-size: 25px;
}
.left-text-box a {
    background-color: black;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-family:'manrope', sans-serif; 
    font-size: 16px;
    height: 50px;
    width: 30%;
    border-radius: 9px;
    align-items: center;
    display: flex;
    justify-content: center; 
}
.sct-4-top .sct-4-top-right {
    min-height: 350px;
    width: 50%;
    background-image: url(Img/plug.png);
    background-position: center;
    background-repeat: no-repeat ;
    background-size: cover;
} 
.sct-4-container .sct-4-bottom {
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.sct-4-bottom .bottom-text h3{
    font-size: 33px;
    font-family:'manrope', sans-serif;
    font-weight: 800;
    color : #661CE7;
} 
.sct-4-bottom .bottom-text p{
    font-size: 15px;
    font-family:'manrope', sans-serif;
    font-weight: 600;
    color : black;
}
.sct-5 {
    background-color: white;
    min-height: 70vh;
    display: flex;
    justify-content: center;
}
.sct-5-container {
    height: 50vh;
    width: 80%;
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: space-evenly;
}
.sct-5-container h2{
    font-size: 33px;
    font-family:'manrope', sans-serif;
    font-weight: 700;
    color : black;
}
.sct-5-box{
display: flex;
flex-direction: row;
flex-wrap: wrap;
row-gap: 40px;
column-gap: 50px;
}
.sct-5-text-box{
    display: flex;
    column-gap: 9px;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 5px;
}
.text-box-tx{
    font-family: 'manrope', sans-serif;
    font-size: 20px;
    font-weight: 700; 
}
.fa-solid {
    font-size: 28px;
}


.sct-6{
min-height: 90vh;
justify-content: center;
display: flex;
background: #F2F2F2;
}
.sct-6-cont { 
    height: 50vh;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 35px;
}
.sct-6-cont h2{
    font-size: 33px;
    font-family:'manrope', sans-serif;
    font-weight: 700;
    color : black;
    text-align: center;
    width: 60%;
}

.sct-6-text-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.sct-6-text-box1{
    width: 40%;
    background-color: white;
    padding: 30px;
}
.sct-6-profile{
    display: flex;
    column-gap: 15px;
    margin-bottom: 20px;
}
.sct-6-profile img {
    min-width: 40px;
    min-width: 40px;
    max-width: 40px;
    max-height: 40px;
}
.sct-6-title{
    line-height: 20px;
}
.sct-6-title h3 {
    font-size: 16px;
    font-family:'manrope', sans-serif;
    font-weight: 700;
    color : black;
}
.york{
    font-size: 14px;
    font-family:'manrope', sans-serif;
    font-weight: 500;
    color : black;
    opacity: 60%;
}
.sct-6-text-box1 p{
    font-size: 16px;
    font-family:'manrope', sans-serif;
    font-weight: 700;
    color : black;
    opacity: 80%;
}

/* MOBILE VIEW */
@media screen and (max-width: 620px){
    header{
        width: 100%;
        padding: 14px 10px;   
    }

    .logo{
        font-family: 'manrope',sans-serif;
        font-weight: 800;
        font-size: 10px;
    }

nav {
    display: none;  
}
.menu{
  display: flex;  
  flex-direction: column;
  position: relative;
  height: 20px;
  cursor: pointer;
  z-index: 1 ;
}
.menu-box{
    position: absolute;
    background-color: white;
    top: 27px;
    width: 200px;
    height: auto;
    left: -180px;
    align-items: end;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding: 10px  0px ;
    visibility: hidden;
}
.menu.active .menu-box{
    visibility: visible;
}
.fa-bars,.fa-xmark{
    font-size: 20px; 
}
.menu.active .fa-bars {
    display:none ;
}
.menu .fa-xmark {
    display: none;
}
.menu.active .fa-xmark {
    display: contents;
}

.menu-box ul {
    row-gap: 15px;
    padding-right: 0px;
    flex-direction: column;
    align-items: normal;
    border: none;
    width: 100%;
}
 .menu-box ul li{
    font-size: 15px;
    background-color: #ff6433;
    width: 100%;
    padding: 10px;
}
.menu-box ul li:hover{
background-color: black;
color: white;
}
 .right-cont{
    column-gap: 6px;
    flex-direction: row;
    display: flex;
    align-items: center;
    padding-right: 10px;
 }
 .right-cont img{
    min-width: 22px;
    max-height: 22px;
    max-height: 22px;
    max-width: 22px;
 }
 .right-cont .right-cont-text .text-1 {
    font-size: 13px;
    line-height: 16px;
    font-family: 'manrope',sans-serif;
    font-weight: 500;
}
.right-cont .right-cont-text .text-2 {
    font-size: 16px;
    line-height: 16px;
    font-family: 'manrope',sans-serif;
    font-weight: 600;
}
    main{
        height: auto;
        width: 100%;
        flex-direction:column ;
        justify-content: normal;
        margin-top: 28px;
   }

   main .container{
    flex-direction:column;
    height: auto;
 }
 main .container .left-text{
   width: 100%;
   height: auto; 
   row-gap: 15px;
   align-items: center;
   margin-bottom: 20px;
 }
  
  .btn{
     padding: 14px 20px;
     margin: 0;
  }
  
  .text-bottom {
    font-size: 12px;
    font-family: 'manrope',sans-serif;
    font-weight: 600;
  }
 main .container .right-img{
     width: 100%;
     height: 380px;
 }
 main .container .right-img .service {
     width: 26%;
     left: 2%;
 }
 main .container .right-img .rating{
     width: 26%;
     right: 2%;
 }
 
 .sct-1 {
    height:auto;
    width: 100%;
    padding: 30px 20px;
}
.sct1-container{
    width: 100%;
    flex-direction: column;
}
.sct1-left{
    width :100%;
}
.sct1-text{
    flex-direction: column;
}

.sct1-left h1 {
    font-size: 29px;
    text-align: center;
    }
.text-box p {
    width: 100%;
}
.sct1-text-b p{
    font-size: 12px;
}
.sct1-right {
row-gap: 29px;
width :100%;
margin-top: 15px;
}
.sct1-right h3{
    font-size: 29px;
    text-align: center;
}
.sct1-right form {
row-gap: 15px;
}
.sct-2 {
    height:auto;
    width: 100%;
    padding: 30px 20px;
}
.sct2-container{
    height: auto;
    width: 100%;
    flex-direction: column;
}
.sct2-left{
    flex-direction: column;
    width: 100%;
    margin-bottom: 35px ;
}
.sct2-left h1{
    font-size: 29px;  
    text-align: center;
}
.sct2-right{
    width: 100%;
    row-gap: 25px;
    
}
.sct-3 {
    height: auto;
    width: 100%;  
    padding: 30px 0px;
}
.sct-3-container{
    height: auto;
    width: 100%;
}
.sct-3-text h2{
    font-size: 24px;
}
.sct-3-box-shell .box {
    height: auto;
    width: 49%; 
    align-items: center;
}
.box img {
    min-width: 30px;
    min-height: 30px;
    max-height: 30px;
    max-width: 30px;
}
.box p {
    font-size: 15px;
}
.sct-4-container{
    padding:30px 0px;
}
.sct-4-container .sct-4-top {
    flex-direction: column;
}
 .sct-4-top .sct-4-top-left {
    height: auto;
    width : 100%;
}

.sct-4-top-left .left-text-box {
    width: 70%;
    height: 350px;
    padding: 30px 15px;  
    row-gap: 20px;
}
.left-text-box{
    font-size: 20px;
}
.left-text-box a {
    width: 50%;
}
.sct-4-top .sct-4-top-right {
    height: auto;
    width: 100%;
} 
.sct-4-container .sct-4-bottom {
    height: auto;
    flex-wrap: wrap;
}
.sct-4-bottom .bottom-text h3{
    font-size: 30px;
} 
.sct-4-bottom .bottom-text p{
    font-size: 14px;
}
.sct-5 {
    height: auto;  
    padding: 30px 20px
}
.sct-5-container {
    height: auto;
    width: 100%;
}
.sct-5-box{
    justify-content: center;
    row-gap: 20px;
    }
    .text-box-tx{
        font-size: 18px;  
    }
    .fa-solid {
        font-size: 25px;
    }
.sct-6{
    height: auto;
    padding: 30px 20px;
    }
    .sct-6-cont { 
        height: auto;
        width: 100%;
    }
    .sct-6-cont h2{
        font-size: 25px;
        width: 100%;
    }
    .sct-6-text-box {
        width: 100%;
        flex-direction: column;
        row-gap: 20px;
    }
    .sct-6-text-box1{
        width: 100%;
    }
}